<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>843036971151-rg1p0jhpbgdpvfcrbicm89n7khjv9ru9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843036971151-rg1p0jhpbgdpvfcrbicm89n7khjv9ru9</string>
	<key>API_KEY</key>
	<string>AIzaSyD3CZRJBMHx_9eXcxfAiQwMaweY4YEtVMI</string>
	<key>GCM_SENDER_ID</key>
	<string>843036971151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourcompany.myFriendlychat</string>
	<key>PROJECT_ID</key>
	<string>durt-f3f31</string>
	<key>STORAGE_BUCKET</key>
	<string>durt-f3f31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843036971151:ios:de8a428e8de51581</string>
	<key>DATABASE_URL</key>
	<string>https://durt-f3f31.firebaseio.com</string>
</dict>
</plist>